* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* popular styles */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
}

.homeStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 504px;
}

.text-container {
    max-width: 790px;
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 34px;
    color: #000000;
}

.description {
    font-size: 10px;
    color: #A0A0A0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.photo {
    max-width: 203px;
    margin: 12px;
}

.wrapper__id {
    max-width: 1300px;
    width: 100%;
    min-height: 468px;
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
    margin-top: 39px;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #000000;
}

a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.content-spaces {
    margin-top: 70px;
}

.content {
    max-width: 497px;
    width: 100%;
}

/* end of popular styles */

/* header */

.header {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.header-logo {
    max-width: 200px;
    width: 100%;
    height: 17.15px;
    background: url("../images/logoHeader.png") no-repeat;
}

.header-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100px;
    color: #000000;
    font-size: 13px;
}

/* end of header */

/* presentation */

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 504px;
    background: url("../images/firstFoto.png") no-repeat center;
    background-size: cover;
    position: relative;
}

/* end of presentation */

/* design-img*/

.design-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.design-img__wrapper {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-img__img {
    width: 100%;
    height: 441px;
    margin-bottom: 20px;
}

.design-img__wrapper:nth-child(1) .design-img__img {
    background: url("./../images/rightPhotoBlock.png") no-repeat center;
    background-size: contain;
}

.design-img__wrapper:nth-child(2) .design-img__img {
    background: url("./../images/leftPhotoBlock.png") no-repeat center;
    background-size: contain;
}

.design-img__title {
    font-size: 27px;
    color: #000000;
    margin-bottom: 23px;
    text-align: center;
}

.design-img__text {
    font-size: 13px;
    color: #000000;
    text-align: center;
}

/* end of twoPhotosBlock */

/* animation Block */

.animation {
    margin: 30px auto;
    max-width: 100%;
    overflow: hidden;
}

.animation .animation-container {
    display: flex;
    width: 200%;
    animation: animation 30s linear infinite;
}

.animation .animation-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.animation img .animation-img {
    width: 20%;
}

@keyframes animation {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

.animation .animation-container:hover {
    animation-play-state: paused;
}

.animation-img {
    position: relative;
}

.animation-logo {
    position: relative;
    z-index: 3;
    border: 7px solid white;
}

.animation-link a {
    width: 99%;
    height: 10%;
    position: absolute;
    bottom: 10%;
    left: 1%;
    z-index: 2;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
}

.animation-logo:hover {
    position: relative;
    z-index: 1;
    opacity: 0.5;
}

.animation-link:hover ~ .animation-logo {
    opacity: 0.5;
    z-index: 0;
}

/* end of animation Block */

/* computer block */

.home-office {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 504px;
    background: url("../images/computerBlock.png") no-repeat center;
    background-size: cover;
    margin-top: 95px;
    margin-bottom: 70px;
    position: relative;
}

/* end of computer block */

.home {
    background: url("../images/homePicture.png") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 592px;


}

/* grey block */

.grey-container {
    width: 100%;
    background: #9AA8B1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.logoImg {
    max-width: 40px;
    width: 100%;
    height: 34px;
    background: url("../images/logoImg.png");
}

/* end of grey block */

/* footer */

.footer-wrapper {
    max-width: 1300px;
    width: 100%;
    height: 468px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 28px;
}

.footer-link {
    margin-bottom: 16px;
    text-decoration: none;
    color: #000000;
    font-size: 22px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 468px;
    background-color: #F9F9F9;
    margin-top: 30px;
}

.footer-description {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.footer-links {
    max-width: 233px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 348px;
    width: 100%;
    padding-left: 25px;
    text-align: left;
}

.footer-title {
    font-size: 22px;
    color: #000000;
    margin-top: -70px;
}

.footer-subtitle {
    max-width: 338px;
    width: 100%;
    font-size: 14px;
    color: #A0A0A0;
    margin-top: -100px;
}

.footer-line {
    max-width: 320px;
    width: 100%;
    height: 1px;
    background: #000000;
    margin-top: -100px;
}

.footer-logo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 50px;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 82px;
    width: 100%;
    height: 82px;
    background: url("../images/pictureFooter.png");
    font-size: 15px;
    color: #FFFFFF;
}

.footer-logo-links {
    max-width: 550px;
    width: 100%;
    text-align: right;
}

.footer-img-link {
    text-decoration: none;
    color: #707A7F;
    font-size: 13px;
    padding-left: 35px;
}

.footer-img-link:last-child {
    color: #000000;
}

/* end of footer */

@media screen and (max-width: 992px) {
    .container {
        margin: 0 auto;
    }

    .header-link a {
        display: none;
    }

    .design-img {
        flex-direction: column;
    }

    .design-img__wrapper {
        width: 85%;
        margin-bottom: 10px;
    }

    .footer-img-link, .invisible {
        display: none;
    }

    .footer-description {
        flex-direction: column-reverse;
        width: 70%;
    }

    .footer-content {
        margin-top: 30%;
    }

    .footer-links {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    .footer-title, .footer-subtitle, .footer-line {
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        margin: 0 auto;
    }

    .header-link {
        display: none
    }

    .animation .animation-container {
        width: 300%;
        animation: animation 20s linear infinite;
    }

    .home {
        height: 345px;
    }

    .footer-img-link, .invisible {
        display: none
    }

    .footer-description {
        flex-direction: column-reverse;
    }

    .footer-links {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    .footer-title, .footer-subtitle, .footer-line {
        margin-top: 10px;
    }

    .footer-content {
        margin-top: 30%;
    }
}

@media screen and (max-width: 320px) {
    .animation .animation-container {
        animation: animation 10s linear infinite;
    }
}
