* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* popular styles */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width:992px) {
    .linksHeader a {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .linksHeader {
        display: none
    }
}

.homeStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeStyleBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 504px;
}

.basicBlockText {
    max-width: 790px;
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.titleBasicText {
    font-size: 34px;
    color: #000000;
}

.basicText {
    font-size: 13px;
    color: #A0A0A0;
}

.heightBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.miniHeightBlock {
    max-width: 203px;
    margin: 12px;
}

.wrapper {
    max-width: 1300px;
    width: 100%;
    min-height: 468px;
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
    margin-top: 39px;
}

.whiteColor {
    color: #FFFFFF;
}

.blackColor {
    color: #000000;
}

a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.specialMargin {
    margin-top: 70px;
}

.specialWidth {
    max-width: 497px;
    width: 100%;
}

/* end of popular styles */

/* header */

.header {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.logoHeader {
    max-width: 200px;
    width: 100%;
    height: 17.15px;
    background: url("../images/logoHeader.png") no-repeat;
}

.linksHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100px;
    color: #000000;
    font-size: 13px;
}

/* end of header */

/* firstFotoBlock */

.firstFotoBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 504px;
    background: url("../images/firstFoto.png");
    position: relative;
}

/* end of firstFotoBlock */

/* twoPhotosBlock*/

.twoPhotosBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.rightPhotoBlock, .leftPhotoBlock {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.imgTwoPhotosBlock {
    max-width: 658px;
    width: 100%;
    height: 441px;
    margin-bottom: 20px;
}

.titleImgTwoPhotosBlock {
    font-size: 27px;
    color: #000000;
    margin-bottom: 23px;
    text-align: center;
}

.textImgTwoPhotosBlock {
    font-size: 13px;
    color: #000000;
    text-align: center;
}

/* end of twoPhotosBlock */

/* 3 points block */

.points {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.point {
    margin: 20px;
    width: 7px;
    height: 7px;
    background: black;
}

.point1 {
    animation: changeColor 3s ease-in infinite;
}

.point2 {
    animation: changeColor 3s ease-in infinite;
    animation-delay: 1s;
}

.point3 {
    animation: changeColor 3s ease-in infinite;
    animation-delay: 2s;
}

@keyframes changeColor {
    0% {
        width: 15px;
        height: 15px;
        transform: scale(2, 2);
    }
    50% {
        background: black;
        width: 7px;
        height: 7px;
    }
    75% {
        background: black;
        width: 7px;
        height: 7px;
    }
    100% {
        background: black;
        width: 7px;
        height: 7px;
    }
}

@media screen and (max-width:992px) {
    .points {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .points {
        display: none
    }
}

/* end of 3 points block */

/* animation Block */

.heightBlockAnimation {
    margin: 30px auto;
    max-width: 100%;
    overflow: hidden;
}

.heightBlockAnimation .wrappertBlockAnimation {
    display: flex;
    width: 200%;
    animation: animation 30s linear infinite;
}

.heightBlockAnimation .parentBlockAnimation {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.heightBlockAnimation img .wrapperImgAnimation {
    width: 20%;
}

@keyframes animation {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

.heightBlockAnimation .wrappertBlockAnimation:hover {
    animation-play-state: paused;
}

.wrapperImgAnimation {
    position: relative;
}

.imgAnimation {
    position: relative;
    z-index: 3;
}

.wrapperLinkSpan a {
    width: 99%;
    height: 10%;
    position: absolute;
    bottom: 10%;
    left: 1%;
    z-index: 2;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
}

.imgAnimation:hover {
    position: relative;
    z-index: 1;
    opacity: 0.5;
}

.wrapperLinkSpan:hover~.imgAnimation {
    opacity: 0.5;
    z-index: 0;
}

@media screen and (max-width:992px) {
    .heightBlockAnimation {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .heightBlockAnimation {
        display: none
    }
}

/* end of animation Block */

/* computer block */

.homeStyleBlockFoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 504px;
    background: url("../images/computerBlock.png");
    margin-top: 95px;
    margin-bottom: 70px;
    position: relative;
}

/* end of computer block */

/* grey block */

.greyBlock {
    width: 100%;
    background: #9AA8B1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.logoImg {
    max-width: 40px;
    width: 100%;
    height: 34px;
    background: url("../images/logoImg.png");
}

/* end of grey block */

/* footer */

.wrapperFooter {
    max-width: 1300px;
    width: 100%;
    height: 468px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 28px;
}

.footerLinksForA {
    margin-bottom: 16px;
    text-decoration: none;
    color: #000000;
    font-size: 22px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 468px;
    background-color: #F9F9F9;
    margin-top: 30px;
}

.rightFooter {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.footerLinks {
    max-width: 233px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headTextFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 348px;
    width: 100%;
    padding-left: 25px;
    text-align: left;
}

.titleTextFooter {
    font-size: 22px;
    color: #000000;
    margin-top: -70px;
}

.textFooter {
    max-width: 338px;
    width: 100%;
    font-size: 14px;
    color: #A0A0A0;
    margin-top: -100px;
}

.lineFooter {
    max-width: 320px;
    width: 100%;
    height: 1px;
    background: #000000;
    margin-top: -100px;
}

.leftFooter {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 50px;
}

.pictureFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 82px;
    width: 100%;
    height: 82px;
    background: url("../images/pictureFooter.png");
    font-size: 15px;
    color: #FFFFFF;
}

.linksLeftFooter {
    max-width: 550px;
    width: 100%;
    text-align: right;
}

.linksLeftFooterA {
    text-decoration: none;
    color: #707A7F;
    font-size: 13px;
    padding-left: 35px;
}

.linksLeftFooterA:last-child {
    color: #000000;
}

@media screen and (max-width:992px) {
    .linksLeftFooterA, .invisible {
        display: none;
    }
    .rightFooter {
        flex-direction: column-reverse;
        width: 70%;
    }
    .headTextFooter {
        margin-top: 30%;
    }
    .footerLinks {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .titleTextFooter, .textFooter, .lineFooter {
        margin-top: 10px;
    }
}

@media screen and (max-width:767px) {
    .linksLeftFooterA, .invisible {
        display: none
    }
    .rightFooter {
        flex-direction: column-reverse;
    }
    .footerLinks {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .titleTextFooter, .textFooter, .lineFooter {
        margin-top: 10px;
    }
    .headTextFooter {
        margin-top: 30%;
    }
}

/* end of footer */

@media screen and (max-width:992px) {
    .container {
        margin: 0 auto;
    }
}

@media screen and (max-width:767px) {
    .container {
        margin: 0 auto;
    }
}